<div id="page" class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Energion</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" routerLink="/">Home</a>
          <a class="nav-link active" routerLink="/estimate">Estimate</a>
          <a class="nav-link" routerLink="/auth/login">Login / Signup</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <form [formGroup]="estForm" (ngSubmit)="getEstimate()">
        <div class="form-group text-center">
          <input (blur)="getAddresses()" formControlName="address" class="m-auto col-sm-8 form-control" type="text"
            placeholder="Enter Address*">
        </div>
        <div class="form-group" *ngIf="addressInput">
          <select formControlName="location" class="m-auto col-sm-8 form-control">
            <option value="">Addresses found</option>
            <option *ngFor="let a of addresses; let i = index" [value]="a.location | string">{{ a.address }}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="number" formControlName="load" class="m-auto col-sm-8 form-control"
            placeholder="Power Required (in kW)*">
        </div>
        <div class="form-group">
          <input type="number" formControlName="radius" class="m-auto col-sm-8 form-control"
            placeholder="Search Radius (in Meter, optional)">
        </div>
        <!-- <div class="form-group">
          <select class="m-auto col-sm-8 form-control">
            <option>Low Tension</option>
            <option>High Tension</option>
          </select>
        </div> -->
        <button type="submit" [disabled]="!estForm.valid" class="btn btn-dark">
          <i *ngIf="!loading" class="fa fa-calculator"></i>
          <i *ngIf="loading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
          Get Estimate</button>
      </form>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Developed by Aaditya Chakravarty and Lakshay Chhabra.</p>
      </div>
    </footer>
  </div>
</div>