<div id="page" class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Energion</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" routerLink="/">Home</a>
          <a class="nav-link active" routerLink="/auth/login">Login</a>
          <a class="nav-link" routerLink="/auth/register">Signup</a>
        </nav>
      </div>
    </header>
  
    <main role="main" class="inner cover">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group text-center">
          <input type="text" formControlName="id" [ngClass]="getValid('id') ? 'is-valid' : getValid('id') == undefined ? '' : 'is-invalid'" class="m-auto col-sm-8 form-control" id="id" aria-describedby="emailHelp" placeholder="Email Address / Phone Number">
        </div>
        <div class="form-group">
          <input type="password" formControlName="password" [ngClass]="getValid('password') ? 'is-valid' : getValid('password') == undefined ? '' : 'is-invalid'" class="m-auto col-sm-8 form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-dark">
            <i *ngIf="!loading" class="fa fa-sign-in-alt"></i> 
            <i *ngIf="loading" class="fa fa-spinner fa-spin" aria-hidden="true"></i> 
             Login</button>
      </form>
      <div class="mt-4">
        <a routerLink="/auth/forgot">Forgot Password</a>
      </div>
    </main>
  
    <footer class="mastfoot mt-auto">
      
    </footer>
  </div>
</div>