<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">All Applications</h1>
  <div class="col text-right">
    <div ngbDropdown class="dropdown" placement="bottom-right">
      <button ngbDropdownToggle class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filters
      </button>
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a style="cursor:pointer;" ngbDropdownItem class="dropdown-item" (click)="getApplications('pending')"><i class="fa fa-pause"></i> Pending</a>
        <a style="cursor:pointer;" ngbDropdownItem class="dropdown-item" (click)="getApplications('accepted')"><i class="fa fa-clipboard-check"></i> Accepted</a>
        <a style="cursor:pointer;" ngbDropdownItem class="dropdown-item" (click)="getApplications('completed')"><i class="fa fa-check-circle"></i> Completed</a>
        <a style="cursor:pointer;" ngbDropdownItem class="dropdown-item" (click)="getApplications('rejected')"><i class="fa fa-times"></i> Rejected</a>
        <a style="cursor:pointer;" ngbDropdownItem class="dropdown-item" (click)="getApplications('')"><i class="fa fa-ban"></i> No Filters</a>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Category</th>
        <th>Type</th>
        <th>Application ID</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of data; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ c.consumerDetails.applicantName }}</td>
        <td>{{ c.consumerDetails.connectionAddress }}</td>
        <td>{{ c.consumerDetails.contactNumber }}</td>
        <td>{{ c.consumerDetails.connectionCategory }}</td>
        <td>{{ c.consumerDetails.connectionType }}</td>
        <td>{{ c.ApplicationID }}</td>
        <td>{{ c.status == 1 ? 'Accepted' : c.status == 2 ? 'Completed' : c.status == -1 ? 'Rejected' : 'Pending' }}</td>
        <td>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button type="button" ngbTooltip="Accept" (click)="acceptApplication(c._id)" class="btn btn-sm btn-success"
                [disabled]="c.status != 0"><i class="fa fa-check-circle"></i></button>
              <button type="button" ngbTooltip="Reject" (click)="rejectApplication(c._id)" class="btn btn-sm btn-danger"
                [disabled]="c.status != 0"><i class="fa fa-times"></i></button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>