<div id="page" class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Energion</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" routerLink="/">Home</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Oops !</h1>
      <p class="lead">Looks like the place where you want to be, does not exist. Yet. We recommend you to go 
        <a routerLink="/">Home</a>.
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      
    </footer>
  </div>
</div>