<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">Your Applications</h1>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Father / Husband Name</th>
        <th>Connection Category</th>
        <th>Connection Type</th>
        <th>Load Demand</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of data; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ c.consumerDetails.applicantName }}</td>
        <td>{{ c.consumerDetails.father_husbandName }}</td>
        <td>{{ c.consumerDetails.connectionCategory }}</td>
        <td>{{ c.consumerDetails.connectionType }}</td>
        <td>{{ c.consumerDetails.loadDemand }}</td>
        <td class="text-center">
          <i *ngIf="!c.consumerDetails.statusOfApplication" title="Pending" class="fa fa-exclamation"></i>
          <i *ngIf="c.consumerDetails.statusOfApplication" title="Accepted" class="fa fa-check"></i>
        </td>
        <td class="text-center">
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button type="button" (click)="transferCon(c._id)" placement="top" ngbTooltip="Tooltip on top" class="btn btn-sm btn-secondary"><i
                  class="fa fa-refresh"></i></button>
              <button type="button" (click)="closureCon(c._id)" placement="top" ngbTooltip="Tooltip on top" class="btn btn-sm btn-secondary"><i
                  class="fa fa-times"></i></button>
              <button type="button" (click)="deleteReq(c._id)" placement="top" ngbTooltip="Tooltip on top" class="btn btn-sm btn-danger"><i
                  class="fa fa-trash"></i></button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>