<div id="page" class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Energion</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" routerLink="/">Home</a>
          <a class="nav-link" routerLink="/auth/login">Login</a>
          <a class="nav-link active" routerLink="/auth/register">Signup</a>
        </nav>
      </div>
    </header>
  
    <main role="main" class="inner cover">
      <form [formGroup]="regForm" (ngSubmit)="register()">
        <div class="form-group text-center">
          <input type="text" formControlName="fullname" class="m-auto col-sm-8 form-control" id="fullname" aria-describedby="emailHelp" placeholder="Full Name">
        </div>
        <div class="form-group">
          <input type="text" formControlName="email" class="m-auto col-sm-8 form-control" id="email" placeholder="Email Address">
        </div>
        <div class="form-group">
          <input type="number" formControlName="phone" class="m-auto col-sm-8 form-control" id="phone" placeholder="Phone Number">
        </div>
        <div class="form-group">
          <input type="password" formControlName="password" class="m-auto col-sm-8 form-control" id="pass" placeholder="Password">
        </div>
        <div class="form-group">
          <input type="password" formControlName="passwordConfirm" class="m-auto col-sm-8 form-control" id="passconfirm" placeholder="Password Confirm">
        </div>
        <button type="submit" [disabled]="!regForm.valid" class="btn btn-dark"><i class="fa fa-sign-in"></i> Register</button>
      </form>
    </main>
  
    <footer class="mastfoot mt-auto">
      
    </footer>
  </div>
</div>