<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Request Application Closure</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="closeForm" (ngSubmit)="reqClose()">
    <div class="form-row w-100">
      <div class="form-group w-100">
        <label for="readon">Please specify reason for closure.</label>
        <textarea formControlName="reason" class="form-control" id="formAddress" rows="3"></textarea>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" (click)="reqClose()" [disabled]="!closeForm.valid"
    class="btn btn-primary">Request Transfer</button>
</div>