<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">User List</h1>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Email Address</th>
        <th>Phone</th>
        <th>ID</th>
        <th>Access Level</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of data; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ c.fullname }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.phone }}</td>
        <td>{{ c.id }}</td>
        <td>{{ c.level == 5 ? 'Administrator' : c.level == 2 ? 'Lineman' : 'User' }}</td>
        <td>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button (click)="changeLevel(c.id, 5)" ngbTooltip="Admin" type="button" class="btn btn-sm btn-secondary"><i class="fa fa-users-cog"></i></button>
              <button (click)="changeLevel(c.id, 2)" ngbTooltip="Lineman" type="button" class="btn btn-sm btn-secondary"><i class="fa fa-user-shield"></i></button>
              <button (click)="changeLevel(c.id, 1)" ngbTooltip="User" type="button" class="btn btn-sm btn-secondary"><i class="fa fa-user"></i></button>
              <button (click)="deleteUser(c.id)" ngbTooltip="Delete" type="button" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>