<div id="page" class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Energion</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" routerLink="/">Home</a>
          <a class="nav-link" routerLink="/estimate">Estimate</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Welcome to Energion.</h1>
      <p class="lead">Energion is a platform where you can get connection estimates for your 
        new connection, and you can manage your current electric connections or apply for new ones.
      </p>
      <p class="lead">
        <a routerLink="/auth/login" class="btn btn-lg btn-secondary">Login / Signup</a>
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Developed by <a href="https://metaxyt.cf">Aaditya Chakravarty</a> and <a href="https://metaxyt.cf">Lakshay Chhabra</a>.</p>
      </div>
    </footer>
  </div>
</div>