<div class="modal-header">
  <h4 class="modal-title">Conection Estimate</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!--CostEstimationMap-->
  <div class="row">
    <iframe [src]="safeMapUrl" width="90%" height="350" class="mx-auto border-0" allowfullscreen></iframe>
    <ul style="width: 90%" class="list-group mx-auto">
      <li class="list-group-item"><strong>Cost: </strong>₹ {{ data.costs.cabling + data.costs.termination }}</li>
    </ul>
  </div>
  <!--/CostEstimationMap-->
</div>