<div class="modal-header">
  <h4 class="modal-title">Estimate for HT Cable from your location to nearest substation</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="row">
    <div class="col-4">
      <iframe [src]="safeMapUrl" height="100" class="w-100 p-0 mx-auto border-0" allowfullscreen></iframe>
    </div>
    <div class="col">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">Distance from Substation</th>
            <th scope="col">Load</th>
            <th scope="col">Voltage</th>
            <th scope="col">Current</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ data.substation.distance }} m</td>
            <td>{{ data.electrical.load }} kW</td>
            <td>{{ data.electrical.voltage }} V</td>
            <td>{{ data.electrical.current }} Amps</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Item Description</th>
        <th scope="col" class="text-center">Quantity</th>
        <th scope="col" class="text-center">Rate</th>
        <th scope="col" class="text-center">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <td class="text-left">Estimated cable length ({{ data.technical.cableSize }} mm<sup>2</sup>)</td>
        <td>{{ (data.substation.distance * 1.2) | roundup }} m (rounded)</td>
        <td>₹{{ data.chart.cable }}</td>
        <td>₹{{ data.costs.cabling.toFixed(0) }}</td>
      </tr>
      <tr class="text-center">
        <td class="text-left">Probable no. of joints</td>
        <td>{{ data.technical.joints }}</td>
        <td>₹{{ data.chart.joint }}</td>
        <td>₹{{ data.costs.joints }}</td>
      </tr>
      <tr class="text-center">
        <td class="text-left">Termination</td>
        <td>2</td>
        <td>₹{{ data.chart.termination }}</td>
        <td>₹{{ data.costs.termination }}</td>
      </tr>
      <tr class="text-center">
        <td class="text-left">Trench</td>
        <td>{{ data.substation.distance | roundup }} m (rounded)</td>
        <td>₹200</td>
        <td>₹{{ data.costs.trench }}</td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">Estimated amount from {{ data.substation.name }} substation.</td>
        <td class="text-right"><b>Total</b></td>
        <td class="text-center">₹{{ data.total | number: '1.0-0' }}</td>
      </tr>
    </tbody>
  </table>
</div>