<div id="page">
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/admin">Energion</a>
    <div ngbDropdown class="dropdown" placement="bottom-right" class="mr-2">
      <button ngbDropdownToggle class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user-cog"></i>
      </button>
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a ngbDropdownItem class="dropdown-item" routerLink="/consumer">{{ profile.name }}</a>
        <a ngbDropdownItem class="dropdown-item" style="cursor: pointer;" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column mb-2">
            <li class="nav-item"><a class="nav-link" routerLink="/admin/applications">
                <i class="fa fa-scroll"></i> Applications</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/admin/userlist">
                <i class="fa fa-users"></i> User List</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/consumer">
                <i class="fa fa-tachometer-alt"></i> Consumer Dashboard</a></li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>