<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">New Application</h1>
</div>
<form [formGroup]="newApplicationForm">
  <div class="row">
    <div class="col-sm-6">

      <div class="md-form">
        <input type="text" id="applicantName" formControlName="applicantName" class="form-control" mdbActive>
        <label for="applicantName">Applicant's Name</label>
      </div>

      <div class="md-form">
        <input type="text" id="fatherName_husbandName" formControlName="fatherName_husbandName" class="form-control"
          mdbActive>
        <label for="fatherName_husbandName">Father's Name/ Husband's Name</label>
      </div>

      <div class="md-form">
        <input type="text" id="aadharNumber" formControlName="aadharNumber" class="form-control" mdbActive>
        <label for="aadharNumber">Aadhar Number</label>
      </div>

      <div class="md-form">
        <input type="text" id="mobileNumber" formControlName="mobileNumber" class="form-control" mdbActive>
        <label for="mobileNumber">Mobile Number</label>
      </div>

      <div class="md-form">
        <input type="text" id="email" formControlName="email" class="form-control" mdbActive>
        <label for="email">E-mail</label>
      </div>

      <br>

      <div class="row">
        <!--Permanent Address Dropdown-->
        <div class="col-sm-6">
          <p>Permanent Adderess</p>
        </div>
        <div class="col-sm-6">
          <div class="btn-group btn-block" dropdown>
            <button dropdownToggle type="button" class="btn btn-block btn-primary btn-md dropdown-toggle waves-light"
              >
              hi
            </button>
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" >Hi</a>
            </div>
          </div>
        </div>
        <!--/Permanent Address Dropdown-->
      </div>

    </div>

    <div class="col-sm-6">

      <div class="md-form">
        <textarea mdbActive type="text" id="connectionAddress" formControlName="connectionAddress"
          class="md-textarea"></textarea>
        <label for="connectionAddress">Connection Address</label>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <p>Press OK to Confirm Connection Address.</p>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-md btn-primary waves-light" >OK</button>
        </div>
      </div>

      <br>
      <div class="md-form">
        <div class="row">
          <div class="col-sm-6">
            <p>Connection Address Land Document</p>
          </div>

          <div class="col-sm-6">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="connectionAddressLandDocument" formControlName="connectionAddressLandDocument"
                 #file>
              <label class="btn btn-md btn-primary" for="connectionAddressLandDocument">hi</label>
            </div>
          </div>
        </div>


      </div>

      <div class="md-form">
        <input type="text" id="loadDemand" formControlName="loadDemand" class="form-control" mdbActive>
        <label for="loadDemand">Load Demand</label>
      </div>

      <br>

      <div class="row">
        <!--Connection Category Dropdown-->
        <div class="col-sm-6">
          <p>Connection Category</p>
        </div>
        <div class="col-sm-5">
          <div class="btn-group btn-block" dropdown>
            <button dropdownToggle type="button" class="btn btn-block btn-primary btn-md dropdown-toggle waves-light">

            </button>

            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item">Domestic Supply
                (DS)</a>
              <a class="dropdown-item">Non Domestic
                Supply (NDS)</a>
              <a class="dropdown-item">Industrial</a>
            </div>
          </div>
        </div>
        <!--/Connection Category Dropdown-->
      </div>

      <br>

      <div class="row">
        <!--Connection Type Dropdown-->
        <div class="col-sm-6">
          <p>Connection Type</p>
        </div>
        <div class="col-sm-5">
          <div class="btn-group btn-block" dropdown>
            <button dropdownToggle type="button" class="btn btn-block btn-primary btn-md dropdown-toggle waves-light">
              hi
            </button>
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item">Permanent</a>
              <a class="dropdown-item">Temporary</a>
            </div>
          </div>
        </div>
        <!--/Connection Type Dropdown-->

      </div>

      <br>

      <div class="row">
        <!--Voltage Supply Dropdown-->
        <div class="col-sm-6">
          <p>Voltage Supply</p>
        </div>
        <div class="col-sm-5">
          <div class="btn-group btn-block" dropdown>
            <button dropdownToggle type="button" class="btn btn-block btn-primary btn-md dropdown-toggle waves-light">
              hi
            </button>
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" >1 Phase</a>
              <a class="dropdown-item" >3 Phase</a>
              <a class="dropdown-item" >11 KV</a>
            </div>
          </div>
        </div>
        <!--/Voltage Supply Dropdown-->
      </div>
    </div>

  </div>

  <br>
  <hr>
  <br>
  <div class="row">
    <div class="col-sm-5 offset-sm-3">
      <button type="submit" class="btn btn-md btn-block btn-success waves-light" data-toggle="modal" data-target="#basicExample">Success</button>
    </div>
  </div>

</form>