<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">New Application</h1>
</div>
<form [formGroup]="application" (ngSubmit)="submitConnection()">
  <div class="row">
    <div class="col-sm-6">

      <div class="md-form">
        <label for="applicantName">Applicant's Name</label>
        <input type="text" class="form-control" formControlName="applicantName" 
        [ngClass]="getValid('applicantName') ? 'is-valid' : getValid('applicantName') == undefined ? '' : 'is-invalid'">
      </div>

      <div class="md-form">
        <label for="nominee">Father's Name / Husband's Name</label>
        <input type="text" formControlName="nominee" class="form-control"
        [ngClass]="getValid('nominee') ? 'is-valid' : getValid('nominee') == undefined ? '' : 'is-invalid'">
      </div>

      <div class="md-form">
        <label for="aadharNum">Aadhar Number</label>
        <input type="number" formControlName="aadharNum" class="form-control" pattern="^(\d{12}|\d{16})$" 
        [ngClass]="getValid('aadharNum') ? 'is-valid' : getValid('aadharNum') == undefined ? '' : 'is-invalid'">
      </div>

      <div class="md-form">
        <label for="mobileNumber">Mobile Number</label>
        <input type="number" class="form-control" pattern="^(\+91[\-\s]?)?[0]?(91)?[789]\d{9}$" formControlName="applicantPhone"
        [ngClass]="getValid('applicantPhone') ? 'is-valid' : getValid('applicantPhone') == undefined ? '' : 'is-invalid'">
      </div>

      <div class="md-form">
        <label for="email">E-mail</label>
        <input type="text" id="email" class="form-control" formControlName="applicantEmail"
        [ngClass]="getValid('applicantEmail') ? 'is-valid' : getValid('applicantEmail') == undefined ? '' : 'is-invalid'">
      </div>

      <div class="md-form">
        <label for="connectionAddress">Permanent Address</label>
        <textarea class="form-control" formControlName="permanentAddress" id="connectionAddress" rows="3"
        [ngClass]="getValid('permanentAddress') ? 'is-valid' : getValid('permanentAddress') == undefined ? '' : 'is-invalid'"></textarea>
      </div>

    </div>

    <div class="col-sm-6">

      <div class="md-form">
        <label for="connectionAddress">Connection Address</label>
        <textarea class="form-control" formControlName="connectionAddress" id="connectionAddress" rows="3"
        [ngClass]="getValid('connectionAddress') ? 'is-valid' : getValid('connectionAddress') == undefined ? '' : 'is-invalid'"></textarea>
      </div>

      <br>
      <!-- <div class="md-form">
        <div class="row">
          <div class="col-sm-6">
            <p>Address Verification</p>
          </div>

          <div class="col-sm-6">
            <div class="custom-file">
              <input type="file" formControlName="verificationDoc" class="form-control-file" id="verificationDoc">
            </div>
          </div>
        </div>


      </div> -->

      <div class="md-form">
        <label for="loadDemand">Load Demand</label>
        <input type="number" formControlName="loadDemand" class="form-control"
        [ngClass]="getValid('loadDemand') ? 'is-valid' : getValid('loadDemand') == undefined ? '' : 'is-invalid'">
      </div>

      <br>

      <div class="row">
        <!--Connection Category Dropdown-->
        <div class="col-sm-6">
          <p>Connection Category</p>
        </div>
        <div class="col-sm-5">
          <select class="form-control" formControlName="connectionCategory">
            <option>Domestic Supply (DS)</option>
            <option>Commercial Supply (NDS)</option>
            <option>Industrial Supply (IS)</option>
          </select>
        </div>
        <!--/Connection Category Dropdown-->
      </div>

      <br>

      <div class="row">
        <!--Connection Type Dropdown-->
        <div class="col-sm-6">
          <p>Connection Type</p>
        </div>
        <div class="col-sm-5">
          <select class="form-control" formControlName="connectionType">
            <option>High Tension</option>
            <option>Low Tension</option>
          </select>
        </div>
        <!--/Connection Type Dropdown-->

      </div>

      <br>

      <div class="row">
        <!--Voltage Supply Dropdown-->
        <div class="col-sm-6">
          <p>Voltage Supply</p>
        </div>
        <div class="col-sm-5">
          <select class="form-control" formControlName="voltageSupply">
            <option>11 kV</option>
            <option>22 kV</option>
            <option>33 kV</option>
            <option>66 kV</option>
          </select>
        </div>
        <!--/Voltage Supply Dropdown-->
      </div>
    </div>

  </div>

  <br>
  <hr>
  <br>
  <div class="row">
    <div class="col-sm-5 offset-sm-3">
      <input type="submit" [disabled]="!application.valid" class="btn btn-md btn-block btn-info" value="Submit Form">
    </div>
  </div>

</form>