<div id="page" class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Energion</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" routerLink="/">Home</a>
          <a class="nav-link" routerLink="/auth/login">Login</a>
          <a class="nav-link" routerLink="/auth/register">Signup</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <form [formGroup]="resetForm" (ngSubmit)="reset()">
        <div class="form-group text-center">
          <input type="password" formControlName="password" class="m-auto col-sm-8 form-control" id="id" aria-describedby="emailHelp"
            placeholder="Password">
        </div>
        <div class="form-group">
          <input type="password" formControlName="passwordConfirm" class="m-auto col-sm-8 form-control" id="password"
            placeholder="Password Confirm">
        </div>
        <button type="submit" [disabled]="!resetForm.valid" class="btn btn-dark">
          <i *ngIf="!loading" class="fa fa-key"></i>
          <i *ngIf="loading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
          Reset Password</button>
      </form>
    </main>

    <footer class="mastfoot mt-auto">

    </footer>
  </div>
</div>